@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: hsl(25, 97%, 53%);
}

body,
html {
  font-family: "Overpass", sans-serif;
  background: hsl(216, 12%, 8%);
  font-size: 15px;
  line-height: 1.5;
}

.card {
  background: hsl(213, 19%, 18%);
  height: auto;
  width: 320px;
  border-radius: 20px;
  margin: 35vh auto;
  padding: 25px;
}

.card .star {
  background: hsl(216, 12%, 23%);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.card .star img {
  height: 10x;
  width: 10px;
}

h3 {
  color: #fff;
}

.sub-text {
  color: hsl(216, 12%, 54%);
  font-size: 12px;
  margin-top: 10px;
}

/* Rating */

.rating {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  justify-content: space-evenly;
  margin: 22px 0;
}

.rating-1,
.rating-2,
.rating-3,
.rating-4,
.rating-5 {
  width: 37px;
  height: 37px;
  border-radius: 100%;
  background: hsl(216, 12%, 23%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.rating div:hover {
  background: var(--primary-color);
  color: white;
}

.rating div:visited {
  background: hsl(217, 12%, 63%);
}

.card .submit {
  display: inline-block;
  width: 100%;
  background: var(--primary-color);
  color: #fff;
  line-height: 14px;
  padding: 10px 0;
  border-radius: 20px;
  border: none;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
}

.card .submit:hover {
  color: var(--primary-color);
  background: #fff;
}

/* Card Submitted */

.card-submitted {
  background: hsl(213, 19%, 18%);
  height: auto;
  width: 320px;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 35vh auto;
  padding: 25px;
  text-align: center;
  display: none;
}

.card-submitted div {
  display: flex;
  justify-content: center;
}

.card-submitted img {
  height: 90px;
  width: auto;
}

.card-submitted .btn-selected {
  margin: 20px 0;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 12px;
  text-align: center;
  color: var(--primary-color);
  background: hsl(213, 19%, 23%);
  border: none;
}
